In [1]:
from datetime import datetime, timedelta

import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = [20, 10]

import seaborn as sns
sns.set()

from data_load.data_load import AllSites, Site

In [9]:
all_sites = AllSites()
all_sites_df = all_sites.get_all_sites()
# all_sites_df=all_sites_df["site_type"].unique()
# mask = all_sites_df["site_type"] == "Groundwater Well"
# all_sites_df = all_sites_df.loc[mask]
all_sites_df

Creating engine for machine_learning_pr at DESKTOP-4IL536V\SQLEXPRESS

,site_id,site_name,site_type,location,latitude,longitude,source,datum,vertical_datum,gage_altitude,hole_depth,well_depth,hydrologic_unit,local_aquifer,aquifer_type,description
0,175711066143600,"PIEZOMETER JBNERR EAST 1 SALINAS, PR",Groundwater Well,123,17.951023,-66.242862,USGS,NAD83,NGVD29,4.90,75.0,74.00,21010004,110SCPL,None,None
1,175711066143601,"PIEZOMETER JBNERR EAST 2 SALINAS, PR",Groundwater Well,123,17.951020,-66.242870,USGS,NAD83,NGVD29,4.90,17.0,17.00,21010004,110SCPL,None,None
2,175721066151400,"PIEZOMETER JBNERR WEST 1 SALINAS, PR",Groundwater Well,123,17.953911,-66.253418,USGS,NAD83,NGVD29,6.90,100.0,87.00,21010004,110SCPL,None,None
3,175721066151401,"PIEZOMETER JBNERR WEST 2 SALINAS, PR",Groundwater Well,123,17.953906,-66.253412,USGS,NAD83,NGVD29,6.90,20.0,20.00,21010004,110SCPL,None,None
4,175734066233300,"ALOMAR OESTE WELL, SANTA ISABEL, PR",Groundwater Well,133,17.957800,-66.392161,USGS,NAD83,NGVD29,17.40,70.0,62.63,21010004,110SCPL,N,None
5,175829066232200,"ALOMAR 1 WELL, SANTA ISABEL, PR",Groundwater Well,133,17.972744,-66.389058,USGS,NAD83,NGVD29,39.40,112.0,NaN,21010004,110SCPL,U,None
6,175858066100200,"JUA 5 WELL, GUAYAMA, PR",Groundwater Well,57,17.980799,-66.166833,USGS,NAD83,NGVD29,128.00,173.0,142.00,21010004,110SCPL,U,None
7,175910066155500,"PIEZOMETER RASA D, SALINAS, PR",Groundwater Well,123,17.984355,-66.265223,USGS,NAD83,NGVD29,72.18,87.0,87.00,21010004,110SCPL,None,None
8,175934066364800,"CONSTANCIA 3 WELL, PONCE, PR",Groundwater Well,113,17.990911,-66.613173,USGS,NAD83,NGVD29,16.40,150.0,144.00,21010004,110SCPL,U,None
9,175943066224800,"PASO SECO 7 WELL, SANTA ISABEL, PR",Groundwater Well,133,17.993021,-66.379336,USGS,NAD83,NGVD29,89.00,NaN,100.00,21010004,110SCPL,U,None
10,175947066130601,"PIEZOMETER AGUIRRE HW 5B, SALINAS, PR",Groundwater Well,123,17.994132,-66.216001,USGS,NAD83,NGVD29,135.00,52.0,51.00,21010004,110SCPL,U,None
11,175950066354200,"RESTAURADA P8A WELL, PONCE, PR",Groundwater Well,113,17.994994,-66.594395,USGS,NAD83,NGVD29,21.96,165.0,165.00,21010004,110SCPL,U,None
12,180020066261500,"CAB 1 WELL, JUANA DIAZ, PR",Groundwater Well,75,18.003381,-66.437004,USGS,NAD83,NGVD29,65.60,338.0,71.00,21010004,110SCPL,U,None
13,180052066471000,"MER 3 WELL, GUAYANILLA, PR",Groundwater Well,59,18.012882,-66.786092,USGS,NAD83,NGVD29,13.12,180.0,NaN,21010004,110GYNL,None,None
14,180057066311300,"PIEZOMETER JAC-6, JUANA DIAZ, PR",Groundwater Well,75,18.013853,-66.519894,USGS,NAD83,NGVD29,47.00,49.0,49.00,21010004,110SCPL,None,None
15,180138066323600,"COLONES WELL, PONCE, PR",Groundwater Well,113,18.025298,-66.542950,USGS,NAD83,NGVD29,98.40,227.0,227.00,21010004,110SCPL,None,None
16,180140066542600,"ARENAS OBSERVATION WELL, SABANA GRANDE, PR",Groundwater Well,121,18.025881,-66.906760,USGS,NAD83,NGVD29,131.00,NaN,180.00,21010004,110GUNC,U,None
17,180156066434000,"LVE WELL, PENUELAS, PR",Groundwater Well,111,18.030242,-66.727397,USGS,NAD83,NGVD29,66.00,100.0,71.00,21010004,110TLLB,U,None
18,job06wq,Station 6,Water Quality,Jobos Bay,17.934986,-66.227933,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,pH,Turb"
19,job09nut,Station 9,Nutrient,Jobos Bay,17.943056,-66.238583,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO3F,NO23F,CHLA_N,DIN,PHEA,DO_N..."
20,job09wq,Station 9,Water Quality,Jobos Bay,17.943056,-66.238583,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
21,job10nut,Station 10,Nutrient,Jobos Bay,17.938611,-66.257736,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO3F,NO23F,CHLA_N,DIN,PHEA,DO_N..."
22,job10wq,Station 10,Water Quality,Jobos Bay,17.938611,-66.257736,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
23,job11wq,Station 11,Water Quality,Jobos Bay,17.944608,-66.262028,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,pH,Turb"
24,job18wq,Station 18,Water Quality,Jobos Bay,17.944433,-66.231881,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,pH,Turb"
25,job19nut,Station 19,Nutrient,Jobos Bay,17.942914,-66.228825,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO23F,CHLA_N,DIN,PHEA,NO3F,DO_N..."
26,job19wq,Station 19,Water Quality,Jobos Bay,17.942914,-66.228825,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
27,job20nut,Station 20,Nutrient,Jobos Bay,17.930317,-66.211472,NERR,None,None,NaN,NaN,NaN,None,None,None,"PO4F,NH4F,NO2F,NO23F,CHLA_N,DIN,PHEA,NO3F,DO_N..."
28,job20wq,Station 20,Water Quality,Jobos Bay,17.930317,-66.211472,NERR,None,None,NaN,NaN,NaN,None,None,None,"Temp,SpCond,Sal,DO_pct,DO_mgl,Depth,cDepth,pH,..."
29,jobjbmet,Jobos Bay Weather,Meteorological,Jobos Bay,17.956483,-66.222933,NERR,None,None,NaN,NaN,NaN,None,None,None,"ATemp,RH,BP,WSpd,MaxWSpd,MaxWSpdT,Wdir,SDWDir,..."

In [3]:
%%capture
sites = []
for row in all_sites_df[["site_id", "site_type"]].itertuples(index=False):   
    site_id = row.site_id
    site_type = row.site_type

    year = 2019
    start = datetime(year=year, month=1, day=1) 
    end = datetime(year=year, month=12, day=31)
    print(start,end)
    site = Site()
    site = site.find_data(site_id, start, end, site_type)
    sites.append(site)

In [4]:
all_sites.get_observation_data("precipitation_data")

Creating engine for machine_learning_pr at DESKTOP-4IL536V\SQLEXPRESS

,site_id,source,date_time,review_stage,atmospheric_temperature,atmospheric_temperature_flag,relative_humidity,relative_humidity_flag,barometric_pressure,barometric_pressure_flag,wind_speed,wind_speed_flag,total_PAR,total_PAR_flag,total_precipitation,total_precipitation_flag,total_solar_radiation,total_solar_radiation_flag,timezone
0,jobjbmet,NERR,2001-01-01 00:15:00,Authenticated,23.4,<4>,NaN,<4>,1020.0,<4>,0.5,<4>,0.0,<4>,NaN,<4>,None,<-1>,LST
1,jobjbmet,NERR,2001-01-01 00:30:00,Authenticated,23.5,<4>,NaN,<4>,1020.0,<4>,1.7,<4>,0.0,<4>,NaN,<4>,None,<-1>,LST
2,jobjbmet,NERR,2001-01-01 00:45:00,Authenticated,23.5,<4>,NaN,<4>,1020.0,<4>,0.8,<4>,0.0,<4>,NaN,<4>,None,<-1>,LST
3,jobjbmet,NERR,2001-01-01 01:15:00,Authenticated,23.1,<4>,NaN,<4>,1020.0,<4>,1.3,<4>,0.0,<4>,NaN,<4>,None,<-1>,LST
4,jobjbmet,NERR,2001-01-01 01:30:00,Authenticated,22.9,<4>,NaN,<4>,1019.0,<4>,1.5,<4>,0.0,<4>,NaN,<4>,None,<-1>,LST
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613362,jobjbmet,NERR,2019-12-13 00:45:00,Provisional,24.5,<0>,77.0,<0>,1013.0,<0>,2.1,<0>,0.0,<0>,0.0,<0>,None,<-1>,LST
613363,jobjbmet,NERR,2019-12-13 01:00:00,Provisional,24.6,<0>,77.0,<0>,1013.0,<0>,2.2,<0>,0.0,<0>,0.0,<0>,None,<-1>,LST
613364,jobjbmet,NERR,2019-12-13 01:15:00,Provisional,24.8,<0>,77.0,<0>,1013.0,<0>,2.7,<0>,0.0,<0>,0.0,<0>,None,<-1>,LST
613365,jobjbmet,NERR,2019-12-13 01:30:00,Provisional,24.9,<0>,76.0,<0>,1012.0,<0>,2.1,<0>,0.0,<0>,0.0,<0>,None,<-1>,LST
613366,jobjbmet,NERR,2019-12-13 01:45:00,Provisional,24.8,<0>,76.0,<0>,1012.0,<0>,1.4,<0>,0.0,<0>,0.0,<0>,None,<-1>,LST

In [5]:
for site in sites:
    df = site.get_observation_data()
    if not df.empty:
    #     df["water_level_depth"] = df["water_level_depth"].astype(float)
    #     df["date_time"] = pd.to_datetime(df["date_time"])
#         df.plot(y="water_level_depth")
        display(df)

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175711066143600,AST,Authenticated,USGS,1.52
2019-01-01 01:00:00,175711066143600,AST,Authenticated,USGS,1.51
2019-01-01 02:00:00,175711066143600,AST,Authenticated,USGS,1.51
2019-01-01 03:00:00,175711066143600,AST,Authenticated,USGS,1.50
2019-01-01 04:00:00,175711066143600,AST,Authenticated,USGS,1.50
...,...,...,...,...,...
2019-12-19 07:00:00,175711066143600,AST,Provisional,USGS,2.47
2019-12-19 08:00:00,175711066143600,AST,Provisional,USGS,2.47
2019-12-19 09:00:00,175711066143600,AST,Provisional,USGS,2.49
2019-12-19 10:00:00,175711066143600,AST,Provisional,USGS,2.49
2019-12-19 11:00:00,175711066143600,AST,Provisional,USGS,2.48

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175721066151400,AST,Authenticated,USGS,1.16
2019-01-01 01:00:00,175721066151400,AST,Authenticated,USGS,1.16
2019-01-01 02:00:00,175721066151400,AST,Authenticated,USGS,1.15
2019-01-01 03:00:00,175721066151400,AST,Authenticated,USGS,1.12
2019-01-01 04:00:00,175721066151400,AST,Authenticated,USGS,1.12
...,...,...,...,...,...
2019-12-19 08:00:00,175721066151400,AST,Provisional,USGS,2.47
2019-12-19 09:00:00,175721066151400,AST,Provisional,USGS,2.47
2019-12-19 10:00:00,175721066151400,AST,Provisional,USGS,2.47
2019-12-19 11:00:00,175721066151400,AST,Provisional,USGS,2.47
2019-12-19 12:00:00,175721066151400,AST,Provisional,USGS,2.47

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175734066233300,AST,Authenticated,USGS,15.05
2019-01-01 01:00:00,175734066233300,AST,Authenticated,USGS,15.06
2019-01-01 02:00:00,175734066233300,AST,Authenticated,USGS,15.06
2019-01-01 03:00:00,175734066233300,AST,Authenticated,USGS,15.04
2019-01-01 04:00:00,175734066233300,AST,Authenticated,USGS,15.02
...,...,...,...,...,...
2019-12-29 13:00:00,175734066233300,AST,Provisional,USGS,15.51
2019-12-29 14:00:00,175734066233300,AST,Provisional,USGS,15.48
2019-12-29 15:00:00,175734066233300,AST,Provisional,USGS,15.47
2019-12-29 16:00:00,175734066233300,AST,Provisional,USGS,15.48
2019-12-29 17:00:00,175734066233300,AST,Provisional,USGS,15.49

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175829066232200,AST,Authenticated,USGS,34.67
2019-01-01 01:00:00,175829066232200,AST,Authenticated,USGS,34.55
2019-01-01 02:00:00,175829066232200,AST,Authenticated,USGS,34.45
2019-01-01 03:00:00,175829066232200,AST,Authenticated,USGS,34.37
2019-01-01 04:00:00,175829066232200,AST,Authenticated,USGS,34.31
...,...,...,...,...,...
2019-10-08 04:00:00,175829066232200,AST,Provisional,USGS,37.39
2019-10-08 05:00:00,175829066232200,AST,Provisional,USGS,37.39
2019-10-08 06:00:00,175829066232200,AST,Provisional,USGS,37.40
2019-10-08 07:00:00,175829066232200,AST,Provisional,USGS,37.42
2019-10-08 08:00:00,175829066232200,AST,Provisional,USGS,37.43

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175858066100200,AST,Authenticated,USGS,59.34
2019-01-01 01:00:00,175858066100200,AST,Authenticated,USGS,59.34
2019-01-01 02:00:00,175858066100200,AST,Authenticated,USGS,59.34
2019-01-01 03:00:00,175858066100200,AST,Authenticated,USGS,59.34
2019-01-01 04:00:00,175858066100200,AST,Authenticated,USGS,59.34
...,...,...,...,...,...
2019-12-29 13:00:00,175858066100200,AST,Provisional,USGS,65.43
2019-12-29 14:00:00,175858066100200,AST,Provisional,USGS,65.43
2019-12-29 15:00:00,175858066100200,AST,Provisional,USGS,65.43
2019-12-29 16:00:00,175858066100200,AST,Provisional,USGS,65.43
2019-12-29 17:00:00,175858066100200,AST,Provisional,USGS,65.43

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-08-09 11:00:00,175910066155500,AST,Provisional,USGS,45.98
2019-08-09 12:00:00,175910066155500,AST,Provisional,USGS,45.98
2019-08-09 13:00:00,175910066155500,AST,Provisional,USGS,45.98
2019-08-09 14:00:00,175910066155500,AST,Provisional,USGS,45.98
2019-08-09 15:00:00,175910066155500,AST,Provisional,USGS,45.99
...,...,...,...,...,...
2019-12-29 13:00:00,175910066155500,AST,Provisional,USGS,46.02
2019-12-29 14:00:00,175910066155500,AST,Provisional,USGS,46.00
2019-12-29 15:00:00,175910066155500,AST,Provisional,USGS,46.00
2019-12-29 16:00:00,175910066155500,AST,Provisional,USGS,46.00
2019-12-29 17:00:00,175910066155500,AST,Provisional,USGS,46.01

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175934066364800,AST,Authenticated,USGS,9.28
2019-01-01 01:00:00,175934066364800,AST,Authenticated,USGS,9.28
2019-01-01 02:00:00,175934066364800,AST,Authenticated,USGS,9.28
2019-01-01 03:00:00,175934066364800,AST,Authenticated,USGS,9.28
2019-01-01 04:00:00,175934066364800,AST,Authenticated,USGS,9.28
...,...,...,...,...,...
2019-12-29 13:00:00,175934066364800,AST,Provisional,USGS,9.63
2019-12-29 14:00:00,175934066364800,AST,Provisional,USGS,9.63
2019-12-29 15:00:00,175934066364800,AST,Provisional,USGS,9.63
2019-12-29 16:00:00,175934066364800,AST,Provisional,USGS,9.62
2019-12-29 17:00:00,175934066364800,AST,Provisional,USGS,9.63

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-03-25 10:00:00,175943066224800,AST,Authenticated,USGS,80.53
2019-03-25 11:00:00,175943066224800,AST,Authenticated,USGS,80.52
2019-03-25 12:00:00,175943066224800,AST,Authenticated,USGS,80.51
2019-03-25 13:00:00,175943066224800,AST,Authenticated,USGS,80.51
2019-03-25 14:00:00,175943066224800,AST,Authenticated,USGS,80.51
...,...,...,...,...,...
2019-12-13 08:00:00,175943066224800,AST,Provisional,USGS,82.11
2019-12-13 09:00:00,175943066224800,AST,Provisional,USGS,82.11
2019-12-13 10:00:00,175943066224800,AST,Provisional,USGS,82.11
2019-12-13 11:00:00,175943066224800,AST,Provisional,USGS,82.12
2019-12-13 12:00:00,175943066224800,AST,Provisional,USGS,82.13

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,175947066130601,AST,Authenticated,USGS,17.74
2019-01-01 01:00:00,175947066130601,AST,Authenticated,USGS,17.74
2019-01-01 02:00:00,175947066130601,AST,Authenticated,USGS,17.74
2019-01-01 03:00:00,175947066130601,AST,Authenticated,USGS,17.74
2019-01-01 04:00:00,175947066130601,AST,Authenticated,USGS,17.73
...,...,...,...,...,...
2019-12-29 13:00:00,175947066130601,AST,Provisional,USGS,25.96
2019-12-29 14:00:00,175947066130601,AST,Provisional,USGS,25.96
2019-12-29 15:00:00,175947066130601,AST,Provisional,USGS,25.96
2019-12-29 16:00:00,175947066130601,AST,Provisional,USGS,25.96
2019-12-29 17:00:00,175947066130601,AST,Provisional,USGS,25.97

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:12:00,180020066261500,AST,Authenticated,USGS,33.18
2019-01-01 01:12:00,180020066261500,AST,Authenticated,USGS,33.13
2019-01-01 02:12:00,180020066261500,AST,Authenticated,USGS,33.09
2019-01-01 03:12:00,180020066261500,AST,Authenticated,USGS,33.05
2019-01-01 04:12:00,180020066261500,AST,Authenticated,USGS,33.03
...,...,...,...,...,...
2019-08-14 08:12:00,180020066261500,AST,Authenticated,USGS,46.24
2019-08-14 09:12:00,180020066261500,AST,Authenticated,USGS,46.25
2019-08-14 10:12:00,180020066261500,AST,Authenticated,USGS,46.25
2019-08-14 11:12:00,180020066261500,AST,Authenticated,USGS,46.26
2019-08-14 12:12:00,180020066261500,AST,Authenticated,USGS,46.26

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,180052066471000,AST,Authenticated,USGS,6.36
2019-01-01 01:00:00,180052066471000,AST,Authenticated,USGS,6.35
2019-01-01 02:00:00,180052066471000,AST,Authenticated,USGS,6.33
2019-01-01 03:00:00,180052066471000,AST,Authenticated,USGS,6.32
2019-01-01 04:00:00,180052066471000,AST,Authenticated,USGS,6.31
...,...,...,...,...,...
2019-12-29 13:00:00,180052066471000,AST,Provisional,USGS,7.58
2019-12-29 14:00:00,180052066471000,AST,Provisional,USGS,7.57
2019-12-29 15:00:00,180052066471000,AST,Provisional,USGS,7.56
2019-12-29 16:00:00,180052066471000,AST,Provisional,USGS,7.57
2019-12-29 17:00:00,180052066471000,AST,Provisional,USGS,7.57

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,180057066311300,AST,Authenticated,USGS,22.37
2019-01-01 01:00:00,180057066311300,AST,Authenticated,USGS,22.37
2019-01-01 02:00:00,180057066311300,AST,Authenticated,USGS,22.37
2019-01-01 03:00:00,180057066311300,AST,Authenticated,USGS,22.37
2019-01-01 04:00:00,180057066311300,AST,Authenticated,USGS,22.37
...,...,...,...,...,...
2019-12-29 13:00:00,180057066311300,AST,Provisional,USGS,21.90
2019-12-29 14:00:00,180057066311300,AST,Provisional,USGS,21.90
2019-12-29 15:00:00,180057066311300,AST,Provisional,USGS,21.90
2019-12-29 16:00:00,180057066311300,AST,Provisional,USGS,21.91
2019-12-29 17:00:00,180057066311300,AST,Provisional,USGS,21.91

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-04-03 18:00:00,180140066542600,AST,Provisional,USGS,20.63
2019-04-03 19:00:00,180140066542600,AST,Provisional,USGS,20.62
2019-04-03 20:00:00,180140066542600,AST,Provisional,USGS,20.61
2019-04-03 21:00:00,180140066542600,AST,Provisional,USGS,20.60
2019-04-03 22:00:00,180140066542600,AST,Provisional,USGS,20.59
...,...,...,...,...,...
2019-12-11 10:00:00,180140066542600,AST,Provisional,USGS,20.22
2019-12-11 11:00:00,180140066542600,AST,Provisional,USGS,20.23
2019-12-11 12:00:00,180140066542600,AST,Provisional,USGS,20.24
2019-12-11 13:00:00,180140066542600,AST,Provisional,USGS,20.24
2019-12-11 14:00:00,180140066542600,AST,Provisional,USGS,20.24

,site_id,timezone,review_stage,source,water_level_depth
date_time,,,,,
2019-01-01 00:00:00,180156066434000,AST,Authenticated,USGS,26.27
2019-01-01 01:00:00,180156066434000,AST,Authenticated,USGS,26.27
2019-01-01 02:00:00,180156066434000,AST,Authenticated,USGS,26.23
2019-01-01 03:00:00,180156066434000,AST,Authenticated,USGS,26.18
2019-01-01 04:00:00,180156066434000,AST,Authenticated,USGS,26.19
...,...,...,...,...,...
2019-12-13 06:00:00,180156066434000,AST,Provisional,USGS,25.47
2019-12-13 07:00:00,180156066434000,AST,Provisional,USGS,25.46
2019-12-13 08:00:00,180156066434000,AST,Provisional,USGS,25.44
2019-12-13 09:00:00,180156066434000,AST,Provisional,USGS,25.43
2019-12-13 10:00:00,180156066434000,AST,Provisional,USGS,25.42